body {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #19467d;
}

.nav span a {
  color: #fff;
  padding-right: 3rem;
}

.register {
  display: flex;
  position: relative;
}

.img {
  /* object-fit: cover; */
}

img {
  height: 85vh;
  width: 43vw;
}

.form {
  position: absolute;
  top: 5%;
  left: 50%;
}

.form h1 {
  /* width: 391px;
  height: 72px; */
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 15px;
  padding-bottom: 3px;
  font-weight: normal;
}

input[type="text"] {
  width: 100%;
  font-size: 13px;
  padding: 11px 100px 11px 15px;
  border: 0.2px solid darkgrey;
  border-radius: 5px;
}
