body {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #19467d;
}

.nav span a {
  color: #fff;
  padding-right: 3rem;
}

.register {
  display: flex;
  position: relative;
}

img {
  height: 85vh;
  width: 43vw;
}

.form {
  position: absolute;
  /* top: 5%; */
  left: 50%;
}

.form h1 {
  height: 72px;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 15px;
  padding-bottom: 3px;
  font-weight: normal;
}

input {
  /* width: 85%; */
  font-size: 13px;
  padding: 11px 100px 11px 15px;
  border: 0.2px solid darkgrey;
  border-radius: 5px;
}

input:focus {
  border: 0.2px solid darkgrey;
  outline: none;
}

button {
  padding: 0.5rem 3rem;
  border: none;
  background-color: #19467d;
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.clear {
  /* clear: both; */
  margin-top: 5%;
  margin-bottom: 20%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.error {
  border: 0.2px solid red;
}

small {
  color: red;
  padding-top: 3px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
